<!DOCTYPE html>
<html>
<head>
  <title>AppIsf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container-fluid">
	<div class="row-fluid">
			<div class="span3">
				<div class="member-box round-all"> 

        <a>	<%=	image_tag("michael.jpg", :class => "member-box-avatar",:height => "50px", :width => "50px") %></a>
        <span>
            <strong>Administrator</strong> | <a>John Doe</a> | <span class="member-box-links"><a>Salir</a></span>
        </span>
      </div>     
				<div class="sidebar-nav">
				
					
<div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading btn-info-light">
                                    <a style="padding-left:25px;" class="accordion-toggle btn btn-info dashboard" data-parent="#accordion2" href="index.html" data-original-title="">
                                        <i class="icon-user icon-white "></i>
                                        Dashboard
                                    </a>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle elements btn open btn-info" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" data-original-title="" style="padding-left: 15px;">
                                        <i class="icon-align-center icon-white"></i>
                                        Cuenta
                                        <span class="caret"></span>
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body content collapse" style="height: 0px;">
                                    <div class="accordion-inner">
                                        <ul class="unstyled">
                                            <li><a href="grids.html" data-original-title="">Perfil <span class="badge badge-important">89</span></a> </li>
                                            <li><a class="current" href="responsive.html" data-original-title="">Renovar contraseña <span class="badge badge-info">56</span></a></li> 
                                            <li><a href="chart.html" data-original-title="">Mis seguidores <span class="badge badge-important">2</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle btn open btn-info" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" data-original-title="" style="padding-left: 15px;">
                                        <i class="icon-resize-vertical icon-white"></i>
                                        Publicación
                                        <span class="caret"></span>
                                    </a>
                                </div>
                                <div style="height: 0px;" id="collapseTwo" class="accordion-body content collapse">
                                    <div class="accordion-inner">
                                        <ul class="unstyled">
                                            <li><a href="#" data-original-title="">Dejanos una idea</a></li>
                                            <li><a class="current" href="#" data-original-title="">Administración de publicación</a></li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle btn open btn-info" data-toggle="collapse" data-parent="#accordion2" href="#collapse3" data-original-title="" style="padding-left: 15px;">
                                        <i class="icon-resize-full icon-white"></i>
                                       Mensajes
                                        <span class="caret"></span>
                                    </a>
                                </div>
                                <div style="height: 0px;" id="collapse3" class="accordion-body content collapse">
                                    <div class="accordion-inner">
                                        <ul class="unstyled">
                                            <li><a href="#" data-original-title="">Mensajes enviados</a></li>
                                            <li><a class="current" href="#" data-original-title="">Recibidos</a></li> 
                                            <li><a href="#" data-original-title="">	Comentarios sobre tu post</a></li>
                                                                </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle btn open btn-info" data-toggle="collapse" data-parent="#accordion2" href="#collapse4" data-original-title="" style="padding-left: 15px;">
                                        <i class="icon-wrench icon-white"></i>
Administración de proyectos                                        <span class="caret"></span>
                                    </a>
                                </div>
                                <div style="height: auto;" id="collapse4" class="accordion-body content in collapse">
                                    <div class="accordion-inner">
                                        <ul class="unstyled">
                                            <li><a class="current" href="#" data-original-title=""><i class="icon-plus"></i> Crear nuevo proyecto</a></li>
                                            <li><a class="current" href="#" data-original-title=""><i class="icon-indent-left"></i> Configuración</a></li> 
                                            <li><a class="current" href="#" data-original-title=""><i class="icon-random"></i> Desarrollo</a></li> 

                                        </ul>
                                    </div>
                                </div>
                            </div>
                     
					</div>
				</div><!--/.well -->
			</div>
			<div class="span9">
				<%= yield %>
			</div>
	</div>
	<footer>
		© 2012 Informáticos sin fronteras <br />
		De América Latina para todo el mundo<br />
		correo@informaticosf.com 
	</footer>	
</div>
</body>
</html>
